.main_header {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: transparent;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.logo {
    color: #fe9065;
    margin-left: 2rem;
    cursor: pointer;
}

.tick {
    color: rgb(54, 54, 54);
}

.nav_button {
    margin-right: 2rem;
}

.nav_menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 4rem;
}

.nav_menu > li > a {
    cursor: pointer;
    text-decoration: none ;
    color: rgb(54, 54, 54);
    transition: 0.4s;
    padding: 3px;
    border-radius: 5px;
}
.nav_menu > li > a:hover {
    background-color: white;
    -webkit-box-shadow: 3px 3px 0 #314fd4, 6px 6px 0 #8f4426;
    box-shadow: 3px 3px 0 #314fd4, 6px 6px 0 #8f4426;
    border-color: #0578c5;
    -webkit-transform: translate(-6px, -6px);
    -ms-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
}

