.section_intro{
    background: linear-gradient(120deg, #314fd4 60%, #fe9065 60.5%);
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_content{
    display: flex;
    padding: 0 10rem;
    justify-content: space-between;
    width: 100%;
}
.article{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.main_text{
    font-size: 4.5em;
    font-weight: bolder;
    color: #fe9065;
    margin: 0
}
.description_text{
    font-size: 1.4em;
    color: whitesmoke;
    margin: 0;
    padding-right: 15px;
}

.figure_container{
    margin: 0;
    position: relative;
}
.avatar{
    position: absolute;
    top: 2.6em;
    right: 4.4em;
}
.icons_tech{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0;
}
@media (min-width: 1590px) {
    .main_content{
        max-width: 1050px;
        padding: 0
    }
    .main_text{
        font-size: 5rem;
    }
    .description_text{
        font-size: 1.8rem;
    }
}

@media (max-width: 700px) {
    .section_intro{
        background: #314fd4;
    }
    .main_content{
        flex-direction: column-reverse;
        padding: 0;
        gap: 20px
    }
    .pattern{
        display: none;
    }
    .avatar{
        position: relative;
        top: 10px;
        left: 10px;
    }
    .article{
        align-items: center;
    }
    .description_text{
        text-align: center;
    }
    .figure_container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icons_tech{
        flex-wrap: wrap;
        padding: 0 80px;
    }
}