.section_project{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}
.projects_text{
    position: absolute;
    top: 3.5rem;
    text-align: center;
    align-self: center;
}
.project_container{
    border-radius: 2rem;
    position: absolute;
    top: 13rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 80%;
    padding-bottom: 2rem;
}
.help_text{
    margin:0 ;
    font-size: 3rem;
    color: #314fd4;
}
.description_text{
    margin: 0;
    font-size: 1.8rem;
}