@font-face {
    font-family: 'Cabinet';
    src: url(../public/fonts/CabinetGrotesk-Extrabold.otf);
    font-weight: bolder;
    font-style: bolder;
}
@font-face {
    font-family: 'Cabinet';
    src: url(../public/fonts/CabinetGrotesk-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: 'Cabinet';
    font-weight: bolder;
}

p{
    font-family: 'Cabinet';
    font-weight: normal;
}
span{
    font-family: 'Cabinet';
    font-weight: normal;
}
body{
    margin: 0;
    background-color: #ffe1d7;
}